# Database - change to fit your database
DB_HOST = 127.0.0.1 
DB_USER = root
DB_PASSWORD = db_password
DB_NAME = db_name
DB_PORT = 3306

NODE_ENV=development

# Your API will run on this port
API_PORT="5000"

# The path the API will run from
API_PATH="/api"

# Your Client will run on this port
CLIENT_PORT="3000"